/new/Protoc_3.4.0_src/vs2013/protoc.dir/Debug
/new/Protoc_3.4.0_src/vs2013/Debug
/new/Protoc_3.4.0_src/vs2013/js_embed.dir/Debug
/new/Protoc_3.4.0_src/vs2013/libprotobuf.dir/Debug
/new/Protoc_3.4.0_src/vs2013/libprotobuf-lite.dir/Debug
/new/Protoc_3.4.0_src/vs2013/libprotoc.dir/Debug
/new/Protoc_3.4.0_src/vs2013/Win32/Debug
/new/Protoc_3.4.0_src/vs2013/protobuf.sdf
/new/Protoc_3.4.0_src/vs2013/protobuf.opensdf
/new/Protoc_3.4.0_src/proto/tool/protoc.ilk
